name: tests

on: [push, pull_request]

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-22.04
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - otp: '25'
            elixir: '1.14'
            global-mock: true
            experimental: false
          - otp: '25'
            elixir: '1.14'
            global-mock: false
            experimental: false
          - otp: "27"
            elixir: "1.17"
            global-mock: true
            experimental: false
          - otp: "27"
            elixir: "1.17"
            global-mock: false
            experimental: false
          - otp: "27.2"
            elixir: "1.18.0"
            global-mock: true
            experimental: true
          - otp: "27.2"
            elixir: "1.18.0"
            global-mock: false
            experimental: true
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GLOBAL_MOCK: ${{ matrix.global-mock }}
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
         otp-version: ${{ matrix.otp }}
         elixir-version: ${{ matrix.elixir }}
      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Compile project
        run: mix compile
      - name: Check formatting
        run: mix format --check-formatted
      - name: Run tests
        run: mix test
      - uses: nick-invision/retry@v3
        with:
          timeout_minutes: 3
          max_attempts: 3
          shell: bash
          command: mix coveralls.github
        continue-on-error: true